<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>gbPark</title>
	<link th:href="@{/css/common/header.css}" rel="stylesheet"/>
	<script defer th:src="@{/js/common/header.js}"></script>
</head>
<body>
<header>
	<nav id="gnbNav" class="gnb row">
		<ul class="col-sm-6 col-10">
			<li class="gnv-list"><a href="/" class="gnv-link">Home</a></li>
			<li class="gnv-list"><a href="/project" class="gnv-link">Project</a></li>
			<li class="gnv-list"><a href="#" class="gnv-link">About Me</a></li>
		</ul>
	</nav>
</header>
<div id="subNav" class="sub-nav">
</div>
</body>
</html>