@import "../../common";

.icon-list {
  padding-left: 0;
  list-style: none;
  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
  }
  li::before {
    display: block;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    margin-right: .5rem;
    content: "";
  }
}

.cate-list li::before {
  background: url("/images/main/card-text.svg") no-repeat center center / 100% auto;
}

.linked li::before {
  background: url("/images/main/link-45deg.svg") no-repeat center center / 100% auto;
}