@import "../../common";

body {
  .wrapper-main{
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .img-profile{
      width: 200px;
      border-radius: 200px;
    }

    .text-profile{
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      padding-left: 100px;

      p {
        .head-profile{
          color: $color3;
          width: 60px;
          display: inline-block;
        }
      }
    }
  }
}