<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Project</title>
	<link href="/images/main/Citycons_park.png" rel="icon"/>
	<script defer src="/js/common/common.js"></script>
	<script defer src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="/common/header"></div>
<main class="container">
	<hr class="col-3 col-md-12 mb-5">

	<div class="row mb-2">
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary">TeamProject</strong>
					<h3 class="mb-0">devwebTalk</h3>
					<div class="mb-1 text-muted">Jul 10 ~ </div>
					<p class="card-text mb-auto">간단한 WEB TALK 프로그램입니다.</p>
					<a href="https://github.com/devwebTalk/devwebTalk" class="stretched-link">github</a>
				</div>
				<div class="col-auto d-none d-lg-block">
					<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">working</text></svg>
				</div>
			</div>
		</div>
		<!--<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-success">Design</strong>
					<h3 class="mb-0">Post title</h3>
					<div class="mb-1 text-muted">Nov 11</div>
					<p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="stretched-link">Continue reading</a>
				</div>
				<div class="col-auto d-none d-lg-block">
					<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

				</div>
			</div>
		</div>-->
	</div>
</main>
</body>
</html>