@import "reactive";

$color1: #2C3540;
$color3: #455D73;
$color2: #5D84A6;
$color4: #93AEBF;
$color5: #DCEAF2;

$primary: #455D73;
$secondary: #5D84A6;
$link-decoration: none;

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: BMJUA, monospace;
  padding: 0;
  margin: 0;
}

button {
  box-sizing: border-box;
  border: 0 none;
  text-align: center;
  background-color: transparent;
}

li {
  list-style: none;
}

a {
  color : $color1;
  text-decoration: none;
}