<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>gbPark</title>
	<link href="/images/main/Citycons_park.png" rel="icon"/>
	<link href="/css/main/main.css" rel="stylesheet"/>
	<script defer src="/js/common/common.js"></script>
	<script defer src="/js/main/main.js"></script>
</head>
<body>
<div th:include="/common/header"></div>
<main>
	<div class="container pos-relative et-3">
		<div class="head-main fl-c-ic">
			<h1>Welcome</h1>
			<p class="">gbPark devSite 입니다.</p>
			<p class="">버그나 개선사항을 알려주시면 많은 도움이 됩니다🙇🏻‍️</p>
			<div class="wrap-contact">
				<button id="btnModal" type="button" class="btn-b1 bg-b1 cl-w0 hov-bg-b2" data-bs-toggle="modal" data-bs-target="#toMeModal">Contact Me</button>
			</div>
		</div>
		<hr class="line">
		<div class="s-fl">
			<div class="fl-c-ic bor-gr-gr fli-1">
				<h2>New Notion</h2>
				<p></p>
				<div id="loadingNotion" class="loading-notion">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<ul id="list-notion" class="icon-list cate-list">
				</ul>
			</div>
			<hr class="line">
			<div class="fl-c-ic bor-gr-w2 fli-1">
				<h2>Sites</h2>
				<p></p>
				<ul class="icon-list linked">
					<li>notion 	: <a href="https://www.notion.so/gbpark0524/gbPark-Blog-5be9b381576d4aabba49300118ada576">gbpark-Blog</a></li>
					<li>git 	: <a href="https://github.com/gbpark0524/gbpark">github/gbpark</a></li>
					<li>mail 	: <a href="mailto:gbpark0524@gmail.com">gbpark0524@gmail.com</a></li>
					<li>company : <a href="mailto:gbpark0524@kaoni.com">gbpark0524@kaoni.com</a></li>
				</ul>
			</div>
			<div class="bor-gr-gr fli-2 dis-none s-dis-block">
			</div>
		</div>
	</div>
</main>
<div id="modalToMe" class="shade-modal">
	<div id="modalContents" class="modal-content bor-b1-w2 fl-c-it">
		<div class="modal-header fl-r-cb-ic pb-q2">
			<h3 class="modal-title" id="toMeModalLabel">To gbPark</h3>
			<div id="closeModal" class="btn-close" aria-label="Close"></div>
		</div>
		<hr class="line">
		<div class="modal-body">
			<form id="formToMe" class="fl-c-cc-it" action="/tome" method="post">
				<label for="toMeTitle" class="my-q2">Title :</label>
				<input id="toMeTitle" type="text" name="title" class="input-text my-q2">
				<label for="toMeTel" class="my-q2">Email or phone :</label>
				<input id="toMeTel" type="text" name="tel" class="input-text my-q2">
				<label for="toMeMessage" class="my-q2">Message :</label>
				<textarea id="toMeMessage" class="input-textarea" name="message" style="height: 135px;"></textarea>
			</form>
		</div>
		<div class="fl-c-ic">
			<div id="toastToMe" class="toast-b2 hide">
				제목과 내용 입력은 필수입니다.
				<button type="button" class="btn-close" aria-label="Close" onclick="hideToast('toastToMe')"></button>
			</div>
			<div class="modal-footer fl-r-cc-ic ma-q2">
				<button id="btnCloseModal" type="button" class="btn-b4 cl-bl hov-bg-b2" >Close</button>
				<button id="submitToMe" type="button" class="" onclick="sendMsg()">Send message</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>