<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>gbPark</title>
	<link href="/images/main/Citycons_park.png" rel="icon"/>
	<link href="/css/main/main.css" rel="stylesheet"/>
	<script defer src="/js/common/common.js"></script>
	<script defer src="/bootstrap/js/bootstrap.min.js"></script>
	<script defer src="/js/main/main.js"></script>
</head>
<body>
<div th:include="/common/header"></div>
<div class="col-lg-8 mx-auto p-3 py-md-5">
	<main>
		<div class="row mb-5">
			<div class="col-md-4 d-none d-md-block p-5">
				<img class="img-fluid rounded-circle" src="/images/main/profile.jpg" alt="프로필사진">
			</div>
			<div class="col-md-8 col-12 align-self-center">
				<h1>Welcome</h1>
				<p class="fs-5">gbPark devSite 입니다.</p>
				<p class="fs-5">버그나 개선사항을 알려주시면 많은 도움이 됩니다🙇🏻‍️</p>
				<div class="mb-5 col-md-8">
					<button type="button" class="btn btn-primary col-12" data-bs-toggle="modal" data-bs-target="#toMeModal">To Me</button>
				</div>
			</div>
		</div>

		<hr class="col mb-5">

		<div class="row g-5">
			<div class="col-md-6 col-12">
				<h2>New Notion</h2>
				<p></p>
				<div hidden id="loading-notion" class="loading-notion mx-5">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<ul id="list-notion" class="icon-list cate-list">
				</ul>
			</div>
			<div class="col-md-6">
				<h2>Sites</h2>
				<p></p>
				<ul class="icon-list linked">
					<li>notion 	: <a href="https://www.notion.so/gbpark0524/gbPark-Blog-5be9b381576d4aabba49300118ada576">gbpark-Blog</a></li>
					<li>git 	: <a href="https://github.com/gbpark0524/gbpark">github/gbpark</a></li>
					<li>mail 	: <a href="mailto:gbpark0524@gmail.com">gbpark0524@gmail.com</a></li>
					<li>company : <a href="mailto:gbpark0524@kaoni.com">gbpark0524@kaoni.com</a></li>
				</ul>
			</div>
		</div>
	</main>
</div>
<div class="modal fade" id="toMeModal" tabindex="-1" aria-labelledby="toMeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="toMeModalLabel">To gbPark</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="tome_title" class="col-form-label">title:</label>
						<input type="text" class="form-control" id="tome_title">
					</div>
					<div class="mb-3">
						<label for="tome_message" class="col-form-label">Message:</label>
						<textarea class="form-control" id="tome_message" style="height: 230px;"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<div class="col align-self-start">
					<div class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
						<div class="d-flex">
							<div class="toast-body">
								빈칸이 존재합니다
							</div>
							<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="sendMsg()">Send message</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>