<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>gbPark</title>
	<link href="/images/main/Citycons_park.png" rel="icon"/>
	<link href="/css/main/main.css" rel="stylesheet"/>
	<script defer src="/js/common/common.js"></script>
	<script defer src="/js/main/main.js"></script>
</head>
<body>
<div th:include="/common/header"></div>
<main>
	<div class="container">
		<div class="head-main">
			<h1>Welcome</h1>
			<p class="">gbPark devSite 입니다.</p>
			<p class="">버그나 개선사항을 알려주시면 많은 도움이 됩니다🙇🏻‍️</p>
			<div class="wrap-contact">
				<button type="button" class="btn-w-c1-c2" data-bs-toggle="modal" data-bs-target="#toMeModal">Contact Me</button>
			</div>
		</div>
		<hr class="line">
		<div class="">
			<div class="">
				<h2>New Notion</h2>
				<p></p>
				<div id="loadingNotion" class="loading-notion">
					<div class="boxes">
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="box">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
				</div>
				<ul id="list-notion" class="icon-list cate-list">
				</ul>
			</div>
			<hr class="line">
			<div class="">
				<h2>Sites</h2>
				<p></p>
				<ul class="icon-list linked">
					<li>notion 	: <a href="https://www.notion.so/gbpark0524/gbPark-Blog-5be9b381576d4aabba49300118ada576">gbpark-Blog</a></li>
					<li>git 	: <a href="https://github.com/gbpark0524/gbpark">github/gbpark</a></li>
					<li>mail 	: <a href="mailto:gbpark0524@gmail.com">gbpark0524@gmail.com</a></li>
					<li>company : <a href="mailto:gbpark0524@kaoni.com">gbpark0524@kaoni.com</a></li>
				</ul>
			</div>
		</div>
	</div>
</main>
<div class="shade-modal"></div>
</body>
</html>