<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ToMe</title>
	<link href="/images/main/Citycons_park.png" rel="icon"/>
	<!--	<link href="/css/main/main.css" rel="stylesheet"/>-->
	<script defer src="/js/common/common.js"></script>
	<script defer src="/bootstrap/js/bootstrap.min.js"></script>
	<script defer src="/js/main/toMe.js"></script>
</head>
<body>
<div th:include="/common/header"></div>
<main class="container">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">title</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</main>
</body>
</html>