@charset "utf-8";

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// mixin
@mixin full-monitor() {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

@mixin positioning($tag-name, $number) {
  .ma-#{$tag-name} {margin: #{$number}rem;}
  .mx-#{$tag-name} {margin: 0 #{$number}rem;}
  .my-#{$tag-name} {margin: #{$number}rem 0;}
  .pa-#{$tag-name} {padding: #{$number}rem;}
  .px-#{$tag-name} {padding: 0 #{$number}rem;}
  .py-#{$tag-name} {padding: #{$number}rem 0;}
  .mr-#{$tag-name} {margin-right: #{$number}rem;}
  .ml-#{$tag-name} {margin-left: #{$number}rem;}
  .mt-#{$tag-name} {margin-top: #{$number}rem;}
  .mb-#{$tag-name} {margin-bottom: #{$number}rem;}
  .pr-#{$tag-name} {padding-right: #{$number}rem;}
  .pl-#{$tag-name} {padding-left: #{$number}rem;}
  .pt-#{$tag-name} {padding-top: #{$number}rem;}
  .pb-#{$tag-name} {padding-bottom: #{$number}rem;}
  .er-#{$tag-name} {right: #{$number}rem;}
  .el-#{$tag-name} {left: #{$number}rem;}
  .et-#{$tag-name} {top: #{$number}rem;}
  .eb-#{$tag-name} {bottom: #{$number}rem;}
  .eh-#{$tag-name} {height: #{$number}rem;}
  .ew-#{$tag-name} {width: #{$number}rem;}
}

@mixin respond-to($breakpoint) {
  @if map-has-key($G-breakpoints, $breakpoint) {
    @media #{inspect(map-get($G-breakpoints, $breakpoint))} {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($G-breakpoints)}.";
  }
}

@mixin default-btn-color() {
  background-color: $G-color-b1;
  color: white;
  &:hover {
    background-color: $G-color-b2;
  }
}

@mixin default-input() {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
// mixin end

$G-numbers-12: (
  0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12
);

$G-color-b1: #2C3540;
$G-color-b2: #455D73;
$G-color-b3: #5D84A6;
$G-color-b4: #93AEBF;
$G-color-w1: #DCEAF2;
$G-color-w2: #fbfbfd;

$G-color-arr: (
  'b1': ($G-color-b1),
  'b2': ($G-color-b2),
  'b3': ($G-color-b3),
  'b4': ($G-color-b4),
  'w1': ($G-color-w1),
  'w2': ($G-color-w2),
  'w0': white
);

$G-breakpoints: (
  's':  ( min-width:  767px ),
  'm': ( min-width:  992px ),
  'l':  ( min-width: 1200px )
);

$G-displays: (block, none, flex);

$G-positions: (absolute, fixed, relative, sticky, static);

// padding, margin
$G-numbers-quarter: (
  'q3': (0.75), 'q2': (0.5), 'q1': (0.25)
);
// padding, margin end

// flex
$G-flex-direction: (
  '-r':  (row),
  '-c':  (column),
  '-rr': (row-reverse),
  '-cr': (column-reverse),
  '':    (row)
);

$G-flex-justify-content: (
  '-cs':  (flex-start),
  '-ce':  (flex-end),
  '-cc':  (center),
  '-cb':  (space-between),
  '-ca':  (space-around),
  '-cv':  (space-evenly),
  '': (flex-start)
);

$G-flex-items: (
  '-ic':  (center),
  '-is':  (flex-start),
  '-ie':  (flex-end),
  '-it':  (stratch),
  '-ib':  (baseline),
  '':  (stratch)
);

$G-flex-wrap: (
  '-wr':  (wrap),
  '': (nowrap)
);

$G-flex-align-content: (
  '-cs':  (flex-start),
  '-ce':  (flex-end),
  '-cc':  (center),
  '-cb':  (space-between),
  '-ca':  (space-around),
  '-cv':  (space-evenly),
  '': (flex-start)
);
// flex end

* {
  font-family: BMJUA, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin btn-style() {
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.25rem 1rem;
  line-height: 1.25rem;
  border-radius: 4px;
}

.btn {
  @include btn-style();
  @include default-btn-color();

  @each $key, $value in $G-color-arr {
    &-#{$key} {
      @include btn-style();
      border: 1px solid $value;
    }
  }
}

button {
  @include btn-style();
  @include default-btn-color();
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: .5;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  color : $G-color-b1;
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

@each $key, $value in $G-color-arr {
  .cl-#{$key} {color: $value !important;}
  .bg-#{$key} {background-color: $value !important;}
  .hov-bor-#{$key}:hover{border-color: $value !important;}
  .hov-cl-#{$key}:hover{color: $value !important;}
  .hov-bg-#{$key}:hover{background-color: $value !important;}
  .hov-fill-#{$key}:hover{fill: $value !important;}
}

// border
@each $key, $value in $G-color-arr {
  @each $key-back, $value-back in $G-color-arr {
    .bor-#{$key}-#{$key-back} {
      border: 1px solid $value;
      border-radius: 0.5rem;
      background: #{$value-back};
      padding: 1rem;
      margin: 1rem;
    }
  }
}

.shade-modal {
  @include full-monitor();
  display: none;
  background: rgba(0, 0, 0, 0.4);
  z-index: 14;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  @include respond-to('s') {
    flex-direction: row;
    align-items: center;
  }
}

.cant-scroll {
  @include full-monitor();
  overflow: hidden;
}



.line {
  height: .25rem;
  padding: 0;
  background-color: $G-color-b1;
  border: 0;
  margin: 1rem 0;
}

@each $dis in $G-displays {
  .dis-#{$dis} {
    display: $dis;
  }
}

@each $key-al-con, $value-al-con in $G-flex-align-content {
  @each $key-wrap, $value-wrap in $G-flex-wrap {
    @each $key-item, $value-item in $G-flex-items {
      @each $key-con, $value-con in $G-flex-justify-content {
        @each $key-dir, $value-dir in $G-flex-direction {
          .fl#{$key-dir}#{$key-con}#{$key-item}#{$key-wrap}#{$key-al-con} {
            display: flex;
            flex-direction:#{$value-dir};
            justify-content:#{$value-con};
            align-items: #{$value-item};
            flex-wrap: #{$value-wrap};
            align-content: #{$value-al-con};
          }
        }
      }
    }
  }
}

@each $value in $G-numbers-12 {
  .fli-#{$value} { flex: $value;}
}

@each $value in $G-positions {
  .pos-#{$value} { position: $value;}
}

.input-text {
  @include default-input;
}

.input-textarea {
  @include default-input;
  min-height : calc(1.5em + (0.75rem + 2px));
}

@each $key,$value in $G-numbers-quarter {
  @include positioning($key, $value)
}

@each $value in $G-numbers-12 {
  @include positioning($value, $value)
}

@each $value in $G-numbers-12 {
  .z-index-#{$value} {z-index: $value}
}
// reactive


@each $key-break, $value-break in $G-breakpoints {
  @each $value in $G-numbers-12 {
    .#{$key-break}-z-index-#{$value} {
      @include respond-to(#{$key-break}) {
        z-index: $value
      }
    }
  }

  @each $value in $G-positions {
    .#{$key-break}-pos-#{$value} {
      @include respond-to(#{$key-break}) {
        position: $value !important;
      }
    }
  }

  @each $dis in $G-displays {
    .#{$key-break}-dis-#{$dis} {
      @include respond-to(#{$key-break}) {
        display: $dis !important;
      }
    }
  }

  @each $key-al-con, $value-al-con in $G-flex-align-content {
    @each $key-wrap, $value-wrap in $G-flex-wrap {
      @each $key-item, $value-item in $G-flex-items {
        @each $key-con, $value-con in $G-flex-justify-content {
          @each $key-dir, $value-dir in $G-flex-direction {
            .#{$key-break}-fl#{$key-dir}#{$key-con}#{$key-item}#{$key-wrap}#{$key-al-con} {
              @include respond-to(#{$key-break}) {
                display: flex !important;
                flex-direction: #{$value-dir} !important;
                justify-content: #{$value-con} !important;
                align-items: #{$value-item} !important;
                flex-wrap: #{$value-wrap} !important;
                align-content: #{$value-al-con} !important;
              }
            }
          }
        }
      }
    }
  }

  @each $value in $G-numbers-12 {
    .#{$key-break}-fli-#{$value} { flex: $value;}
  }

}

// reactive end
